---
title: "Blog"
permalink: /blog/
---

<section class="section blog-page">
  <div class="container">

    <div class="section__head">
      <h1 class="section__title">Blog</h1>
    </div>

    <div class="row grid">
      {% if site.posts.size > 0 %}
        {% for post in site.posts %}
          {% include article.html class="article--flexible col col-4 col-d-6 col-t-12 grid__post" %}
        {% endfor %}
      {% else %}
        <p>No posts yet.</p>
      {% endif %}
    </div>

  </div>
</section>
