<!-- begin footer -->
<footer class="footer footer--academic">
  <div class="container">

    <div class="footer__inner">

      <div class="footer__identity">
        <strong>Ling Guo</strong>
        <span>École de technologie supérieure (ÉTS), Montréal</span>
      </div>

      <div class="footer__academic-links">
        <a href="https://scholar.google.com/citations?user=PS_CX0AAAAJ"
           target="_blank" rel="noopener">
          Google Scholar
        </a>

        <a href="https://orcid.org/0009-0009-2175-7102"
           target="_blank" rel="noopener">
          ORCID
        </a>

        <a href="https://www.linkedin.com/in/ling-guo-3bb0ba62/"
           target="_blank" rel="noopener">
          LinkedIn
        </a>

        <a href="mailto:ling.guo.1@ens.etsmtl.ca">
          Email
        </a>

        <a href="https://www.zhihu.com/people/guoguo73777" target="_blank" rel="noopener">Zhihu</a>
      </div>

      <div class="footer__copyright">
        © {{ site.time | date: "%Y" }} Ling Guo
      </div>

    </div>

  </div>
</footer>
<!-- end footer -->
