<!-- begin header -->
<header class="header">
  <div class="container-big">
    <div class="header__inner">

 <div class="logo">
  <a class="logo__link logo__text" href="{{ '/' | relative_url }}">
    Ling Guo
  </a>
</div>


      <div class="hamburger">
        <div></div>
      </div>


      <nav class="main-nav" aria-label="Main menu">
        <div class="main-nav__box">

          <ul class="nav__list list-reset">

            {% for item in site.data.settings.menu_settings.menu_items %}

              {% if item.submenu %}

              <li class="nav__item dropdown">

                <div class="dropdown-toggle">
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="20"
                       height="4"
                       fill="none">

                    <circle cx="2" cy="2" r="2"
                            fill="var(--link-color)"/>

                    <circle cx="9" cy="2" r="2"
                            fill="var(--link-color)"/>

                    <circle cx="16" cy="2" r="2"
                            fill="var(--link-color)"/>

                  </svg>
                </div>

                <div class="dropdown-menu">

                  {% for submenu-item in item.submenu %}

                  <a href="{{ submenu-item.url | relative_url }}"
                     class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">
                    {{ submenu-item.title }}
                  </a>

                  {% endfor %}

                </div>

              </li>

              {% else %}

              <li class="nav__item">

                <a href="{{ item.url | relative_url }}"
                   class="nav__link{% if page.url == item.url %} active-link{% endif %}">
                  {{ item.title }}
                </a>

              </li>

              {% endif %}

            {% endfor %}

          </ul>

        </div>
      </nav>


      <!-- Contact button -->
      <div class="nav-button">

        {% if site.data.settings.cta_button.enable == true %}

        <a href="{{ site.data.settings.cta_button.cta_button_link }}"
           class="button cta-button">
          {{ site.data.settings.cta_button.cta_button_text }}
        </a>

        {% endif %}

      </div>

    </div>
  </div>
</header>
<!-- end header -->
