{% if site.data.settings.blog.enable == true %}
<!-- section-blog -->
<section class="section section-blog">
  <div class="container">

    <div class="section__head blog-section__head">
      <h2 class="section__title">Latest Blog Posts</h2>

      <a href="{{ '/blog/' | relative_url }}" class="blog-section__link">
        View All Posts →
      </a>
    </div>

    <div class="row grid">
      {% if site.posts.size > 0 %}
        {% for post in site.posts limit:3 %}
          {% include article-home.html %}
        {% endfor %}
      {% endif %}
    </div>

  </div>
</section>
<!-- section-blog -->
{% endif %}
