{% if site.data.clients.clients_section_enable == true %}
<!-- begin clients -->
<section class="section clients">
  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="row">
          <div class="col col-8 col-w-10 col-d-12 push-2 push-w-1 push-d-0">

            <div class="section__head">
              {% if site.data.clients.clients_title %}
              <h2 class="section__title">
                {{ site.data.clients.clients_title }}
              </h2>
              {% endif %}
            </div>

            {% if site.data.clients.logos.logo_image and site.data.clients.logos.enable == true %}
            <!-- begin logos -->
            <div class="section logos">
              <div class="container">
                <div class="row">
                  <div class="col col-12">

                    {% if site.data.clients.logos.logos_title %}
                    <h2 class="logos-title">
                      {{ site.data.clients.logos.logos_title }}
                    </h2>
                    {% endif %}

                    <div class="logos__slider splide">
                      <div class="splide__track">
                        <div class="logos__inner splide__list">

                          {% for logo_image in site.data.clients.logos.logo_image %}
                          <div class="logos__image splide__slide">
                            <img
                              src="{{ logo_image.image | relative_url }}"
                              alt="{{ logo_image.alt }}"
                              loading="eager">
                          </div>
                          {% endfor %}

                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- end logos -->
            {% endif %}

          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- end clients -->
{% endif %}
